.create-account {
  background-image: url(../../../static/img/bg.png);
  background-size: 100% 100%;
  height: 816px;
  position: relative;
  width: 529px;
}

.create-account .CARD {
  height: 625px;
  left: 76px;
  position: absolute;
  top: 133px;
  width: 348px;
}

.create-account .overlap {
  background-image: url(../../../static/img/bg-1.png);
  background-size: 100% 100%;
  height: 695px;
  left: -35px;
  position: relative;
  top: -20px;
  width: 412px;
}

.create-account .CREATE-ACCOUNT {
  height: 43px;
  left: 123px;
  position: absolute;
  top: 555px;
  width: 168px;
}

.create-account .DEFAULT {
  height: 43px;
  width: 170px;
}

.create-account .overlap-group {
  background-color: #5e72e4;
  border-radius: 4px;
  box-shadow: 0px 4px 6px #32325d1c, 0px 1px 3px #00000014;
  height: 43px;
  position: relative;
  width: 168px;
}

.create-account .text-wrapper {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0.31px;
  line-height: 19px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.create-account .i-AGREE-WITH {
  height: 20px;
  left: 53px;
  position: absolute;
  top: 487px;
  width: 223px;
}

.create-account .object-wrapper {
  background-color: #5e72e4;
  border-radius: 4px;
  box-shadow: 0px 1px 0px #00000005, 0px 1px 3px #32325d26;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.create-account .object {
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.create-account .i-agree-with-the-pri {
  color: transparent;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.create-account .span {
  color: #525f7f;
}

.create-account .text-wrapper-2 {
  color: #5e72e4;
}

.create-account .div {
  color: #8898aa;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 439px;
  white-space: nowrap;
}

.create-account .text-wrapper-3 {
  color: #2dce89;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 172px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 437px;
  white-space: nowrap;
}

.create-account .PASSWORD {
  height: 46px;
  left: 53px;
  position: absolute;
  top: 373px;
  width: 308px;
}

.create-account .overlap-group-wrapper {
  height: 46px;
  width: 310px;
}

.create-account .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 0px #00000005, 0px 1px 3px #32325d26;
  height: 46px;
  position: relative;
  width: 308px;
}

.create-account .text-wrapper-4 {
  color: #adb5bd;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.create-account .img {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 10px;
}

.create-account .EMAIL {
  height: 46px;
  left: 53px;
  position: absolute;
  top: 311px;
  width: 308px;
}

.create-account .input {
  background: transparent;
  border: none;
  color: #adb5bd;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 19px;
  padding: 0;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.create-account .object-2 {
  height: 16px;
  left: 12px;
  position: absolute;
  top: 15px;
  width: 16px;
}

.create-account .NAME {
  height: 46px;
  left: 53px;
  position: absolute;
  top: 249px;
  width: 308px;
}

.create-account .or-sign-up-with-cred {
  color: #8898aa;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 127px;
  letter-spacing: 0.37px;
  line-height: 17px;
  position: absolute;
  top: 202px;
  white-space: nowrap;
}

.create-account .SING-IN-WITH {
  height: 117px;
  left: 37px;
  position: absolute;
  top: 51px;
  width: 341px;
}

.create-account .LINE {
  background-color: #8898aa1a;
  height: 1px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 339px;
}

.create-account .GITHUB {
  height: 44px;
  left: 22px;
  position: absolute;
  top: 35px;
  width: 140px;
}

.create-account .div-wrapper {
  height: 44px;
  width: 142px;
}

.create-account .overlap-group-3 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #00000014, 0px 4px 6px #32325d1c;
  height: 44px;
  position: relative;
  width: 140px;
}

.create-account .text-wrapper-5 {
  color: #5e72e4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 55px;
  letter-spacing: 0.43px;
  line-height: 19px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.create-account .icon-github {
  height: 18px;
  left: 22px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.create-account .GOOGLE {
  height: 44px;
  left: 174px;
  position: absolute;
  top: 35px;
  width: 144px;
}

.create-account .DEFAULT-2 {
  height: 44px;
  width: 146px;
}

.create-account .overlap-group-4 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #00000014, 0px 4px 6px #32325d1c;
  height: 44px;
  position: relative;
  width: 144px;
}

.create-account .text-wrapper-6 {
  color: #5e72e4;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 62px;
  letter-spacing: 0.43px;
  line-height: 19px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.create-account .google {
  height: 18px;
  left: 29px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.create-account .sign-up-with {
  color: #8898aa;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 134px;
  line-height: 17px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.create-account .text-wrapper-7 {
  letter-spacing: 0.37px;
}

.create-account .text-wrapper-8 {
  letter-spacing: 0;
}

.create-account .navigation {
  height: 25px;
  left: 76px;
  position: absolute;
  top: 53px;
  width: 344px;
}

.create-account .text-wrapper-9 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.create-account .oval-wrapper {
  background-image: url(../../../static/img/icons-24px-black-bell.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 277px;
  position: absolute;
  top: 1px;
  width: 24px;
}

.create-account .oval {
  height: 7px;
  left: 14px;
  position: absolute;
  top: 2px;
  width: 7px;
}

.create-account .icons-black {
  height: 24px !important;
  left: 318px !important;
  position: absolute !important;
  top: 0 !important;
  width: 24px !important;
}

.create-account .icons-gray {
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 12px;
}
